@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
html {
  scroll-behavior: smooth;
}

body {
  color:#132C33 !important;
  font-family: 'Montserrat', sans-serif;
  background:#f8ede3 !important;
}

nav {
	background:#f8ede3 !important;
	border-bottom: 1px solid #86CAE9;
}

.bg-dark {
    background-color: rgba(0,0,0,0) !important;
}

.navbar-toggler-icon {
color: black !important;
}

.row {
	margin:auto;
	min-height: 95vh !important;
}

.flex-row {
	width: 100%;
}

.About {
	width: 95%;
	margin: 10vh auto;
	display: inline-block;
}

.sbody {
	padding-top: 5vh;
	width: 100%;
	margin: auto;
	display: inline-block;
}

.thr {
	color:#86CAE9 ;
	width: 100%;
	opacity: 0.5;
	transition: transform .2s;
}

.works {
	padding-top: 10vh;
	padding: auto;
	width: 90%;
	margin: auto;
	display: inline-block;
}

.w {
	margin: 5px;
	padding: 2.5px;
	/* border: 3px solid white; */
	transition: transform .2s;
	cursor: pointer;
}

.w:hover {
	/* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19); */
	transform: scale(1.07);
}

.col-xs-6 {
	margin: 20px;
}

.checked {
	color: orange;
}

.unchecked {
	color: rgb(231, 208, 181);
}

.contact {
	width:90%;
	margin: auto;
	display: inline-block;
}

.btn {
	color:white;
	margin-top: 10px;
	width:90%;
	margin-left: 13px;
	background: #86CAE9;
	transition: transform .09s;
}

.resume {
	margin-left: 0px !important;
	width:175px !important;
}

.btn:hover {
	color: white;
	transform: scale(1.05);
}

.f {
	margin-top: 50px;
	color: #132C33;
	border-top:1px solid #86CAE9; 
}

.cicon {
	transition: transform .2s;
	margin:10px;
}

.about-icon:hover,.cicon:hover {
	transform: scale(1.07);
}

.display-name {
	font-weight:500;
}

.skill-icon {
	height:50px;
	width:50px;
}

.skill-item {
	display: flex;
	align-items: center;
}

@media (min-width: 768px) { 

	.About {
	width: 50%;
	margin: 13vh auto;
	}

	.sbody {
		width: 45%;
	}

	.works {
		
		width: 70%;
	}
	.flex-row{
		display: flex;
	}

	.btn {
			width: 50%;
		}

	.skill-icon {
		height:70px;
		width:70px;
	}

}
