@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
html {
  scroll-behavior: smooth;
}

body {
  color:#132C33 !important;
  font-family: 'Montserrat', sans-serif;
  background:#f8ede3 !important;
}

nav {
	background:#f8ede3 !important;
	border-bottom: 1px solid #bdd2b6;
}

.bg-dark {
    background-color: rgba(0,0,0,0) !important;
}

.navbar-toggler-icon {
color: black !important;
}

.row {
	margin:auto;
	min-height: 95vh !important;
}

.flex-row {
	width: 100%;
}

.About {
	width: 95%;
	margin: 10vh auto;
	display: inline-block;
}

.sbody {
	padding-top: 5vh;
	width: 90%;
	margin: auto;
	display: inline-block;
}

.thr {
	color:#bdd2b6 ;
	width: 100%;
	opacity: 0.5;
	transition: transform .2s;
}

.works {
	padding-top: 10vh;
	padding: auto;
	width: 90%;
	margin: auto;
	display: inline-block;
}

.hero {
	transition: transform .2s;
}

.w {
	margin: 5px;
	padding: 2.5px;
	border: 3px solid white;
	transition: transform .2s;
}

.w:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transform: scale(1.07);
}

.hero:hover {
	transform: scale(1.07);
}

.col-xs-6 {
	margin: 20px;
}

.checked {
	color: orange;
}

.unchecked {
	color: rgb(231, 208, 181);
}

.contact {
	width:90%;
	margin: auto;
	display: inline-block;
}

.btn {
	color:white;
	margin-top: 10px;
	width:90%;
	margin-left: 13px;
	background: #84bd71;
	transition: transform .09s;
}

.resume {
	margin-left: 0px !important;
	width:175px !important;
}

.btn:hover {
	color: white;
	transform: scale(1.05);
}

.f {
	margin-top: 50px;
	color: #132C33;
	background:#bdd2b6; 
}

.cicon {
	transition: transform .2s;
	margin:10px;
}

.cicon:hover {
	transform: scale(1.07);
}

.display-name {
	font-weight:500;
}

@media (min-width: 768px) { 

	.About {
	width: 50%;
	margin: 13vh auto;
	}

	.sbody {
		width: 50%;
	}

	.works {
		
		width: 70%;
	}
	.flex-row{
		display: flex;
	}

	.btn {
			width: 50%;
		}

}
